/* Style for the Menu/Header */

header {
  display: flex;
  position: fixed;
  top: 0px;
  height: 75px;
  width: 100%;
  background-color: white;
  margin-top: 0px;
  border-bottom: 1px solid black;
  font-family: Verdana, serif;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  width: 250px;
}

.logo span{
  padding: 0px 10px;
}

nav {
  padding: 10px 30px;
  flex-direction: row;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
}

nav a {
  color: black;
}


/* Style for the Main part: structure and positioning */

main {
  display: flex;
  margin-top: 110px;
  justify-content: space-between;
}

.column.large {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}

.stories {
  flex-flow: column wrap;
  width: 300px;
}

.short-story {
  height: 200px;
}


.column.medium {
  width: 300px;
  display: flex;
  flex-flow: column wrap;
  margin-right: 30px;

}

.column.small {
  width: 240px;
  display: flex;
  flex-flow: column;

}

/* Styling text */


article p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.above-img {
 font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
 text-align: center;
}

.lead-story .above-img {
  font-size: 40px;
  text-align: left;
}

.location {
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* Adding images to the stories */

.image-content {
  height: 300px;
}

.lead-story .image-content {
  background-image: url("../images/img-story-main.png");
  display: flex;
}

.story1 .image-content {
  background-image: url("../images/img-story-1.png");
  display: flex;
}

.story2 .image-content {
  background-image: url("../images/img-story-2.png");
  display: flex;
}

.story3 .image-content {
  background-image: url("../images/img-story-3.png");
  display: flex;
}

/* Style for the third column's elements */

.news-bites ul{
  margin: 0;
  padding: 0;
}

.news-bites li{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid black;
}

/* Style for the footer */

footer {
  display: flex
  position: absolute;
  bottom: 0;
}
